@import './../../../styles/global.scss';

.c-header {
  &__wrapper {
    @include t-flexbox();
    @include t-justify-content(space-between);
    @include t-align-items(center);

    position: relative;
  }

  &__logo {
    @include t-absolute-center-x-y();
    width: 100%;
    max-width: 220px;
  }

  &__hamburger {
  }

  &__cart {
  }
}
