/*
 *  Hamburger Menu
 *    Styles for the hamburger menu
 *
 *  Version:
 *    1.0.0 - 2018/11/02
 */
$c-hamburger-menu--alternate-background: $s-color--primary;
$c-hamburger-menu--alternate-color: white;
$c-hamburger-menu--item-padding: 1em;

.c-hamburger-menu {
  &__nav {
    position: absolute;
    width: 100%;
    z-index: $s-z--drawer;
    background: $s-color--background;
    max-height: 0;
    transition: all 0.2s $s-animation--ease-out;
    overflow: hidden;
    box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.1);
    bottom: 0;
    transform: translateY(100%);

    .c-hamburger-menu.is-active & {
      max-height: 125vh;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    &-link {
      position: relative;
      padding: $c-hamburger-menu--item-padding;
      display: block;
      text-transform: uppercase;
      min-height: 1em + ($c-hamburger-menu--item-padding * 2);

      /*&-icon {
        display: block;
        position: absolute;
        top: 0;
        right: $c-hamburger-menu--item-padding;
        width: 1.5em;
        height: 100%;
        object-fit: contain;
        padding: 0.25em;

        &.is-minus { display: none; }

        .c-hamburger-menu__menu-item.is-expanded > .c-hamburger-menu__menu-link & {
          &.is-plus { display: none; }
          &.is-minus { display: block; }
        }
      }*/
    }

    &-item {
      padding: 0;
      margin: 0;

      + #{&} { border-top: 1px solid $s-color--border-default; }

      &.is-alternate {
        background: $c-hamburger-menu--alternate-background;

        .c-hamburger-menu__menu-link {
          color: $c-hamburger-menu--alternate-color;
          svg,* { fill: $c-hamburger-menu--alternate-color; }
        }
      }

      &.has-submenu > .c-hamburger-menu__submenu { display: none; }
      &.is-expanded > .c-hamburger-menu__submenu { display: block; }

    }
  }

  &__submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: lighten($s-color--primary, 60%);

    .c-hamburger-menu__submenu {
      background: lighten($s-color--primary, 50%);
    }
  }

  &__icon {
    width: 1em;
    height: 1.5em;
    display: block;

    *,& { fill: $s-color--primary; }
    &.is-close { display: none; }

    .c-hamburger-menu.is-active & {
      &.is-close { display: block; }
      &.is-hamburger { display: none; }
    }
  }
}
