/*
 *  Header Styles
 *    Styles for the header component and layout of items in the header.
 *
 *  Version:
 *    2.0.0 - 2018/11/01
 */
$c-header--mobile-padding: 1em 1em;

@keyframes c-header--button-label-bounce {
  0%, 25%, 50%, 100% {
    transform: translateX(0%);
  }

  12.5% { transform: translateX(-25%); }
  62.5% { transform: translateX(-12.5%); }

  37.5% { transform: translateX(25%); }
  87.5% { transform: translateX(12.5%); }
}

.c-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  width: 100%;

  &__logo {
    padding: $c-header--mobile-padding;
    width: 55%;

    svg {
      max-width: 16em;
      margin: 0 auto;
      display: block;
      width: 100%;
    }
  }

  &__button {
    padding: $c-header--mobile-padding;
    cursor: pointer;
    position: relative;

    &.is-search {display: none;}
    &.is-hidden { visibility: hidden; opacity: 0; }

    &-icon {
      display: block;
      width: 32px;
    }

    &-label {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5em;
      height: 1.5em;
      overflow: hidden;
      top: 0;
      left: 0;
      background: $s-color--background;
      border-radius: 50%;
      color: $s-color--primary;

      &.is-hidden { display: none; }
      &.is-animated {
        animation: c-header--button-label-bounce 0.4s;
        animation-fill-mode: forwards;
        animation-timing-function: $s-animation--ease-out;
      }
    }
  }

  &__account-bar {
    display: flex;
    justify-content: center;
    width: 100%;

    &-button {
      width: 50%;
      padding: 0.1em;
      .o-btn { width: 100%; }
    }

    &.is-logged-in { display: none; }
  }

  &__menu {
    display: none;
  }

  @include t-media-query($s-small-up) {
    &__logo {
      order: 1;
      width: 250px;
    }


    &__account-bar {
      order: 5;
      width: 400px;
      padding: 0 12px;

      &-button { padding: 0.3em; }

      &.is-logged-in { display: flex; }
    }


    &__button {
      padding: 0.5em;
      &.is-search {
        display: block;
        order: 3;
      }
      &.is-cart {order: 6;}
    }
  }

  @include t-media-query($s-medium-up) {
    justify-content: space-evenly;
    flex-wrap: nowrap;

    &__menu {
      order: 2;
      display: block;
      flex-grow: 1;
      max-width: 550px;
    }

    &__button {
      padding: 0.5em;
      &.is-search {
        display: block;
        order: 3;
      }
      &.is-cart {order: 6;}
    }

    &__hamburger {
      display: none;
    }
  }

  @include t-media-query($s-large-up) {
    &__logo {
      order: 1;
      width: 280px;
      margin-right: 2em;
    }

    &__account-bar {
      padding: 0 25px;
    }

    &__button {
      padding: 1em;
    }
  }
}
