/*
 *  FAQ Accordion
 *    Styles for the FAQ Section, in an accordion design.
 *
 *  Version:
 *    1.0.0 - 2018/12/03
 */
$c-faq--background: white;
$c-faq--radius: 1em;

.c-faq-accordion {
  position: relative;
  overflow: hidden;
  padding: $s-gutter--small $s-gutter--xsmall;

  &__background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    transform: translateX(-50%);
    top: 0%;
    left: 50%;
  }

  &__header {
    position: relative;
    text-align: center;
    background: $c-faq--background;
    border-top-right-radius: $c-faq--radius;
    border-top-left-radius: $c-faq--radius;
  }

  &__footer {
    background: $c-faq--background;
    margin-top: 0.5em;
    border-radius: $c-faq--radius;
  }

  &__accordion {
    position: relative;
    background: $c-faq--background;
    border-bottom-right-radius: $c-faq--radius;
    border-bottom-left-radius: $c-faq--radius;
    min-height: 1em;

    &-fix { min-height: 0.001em; }
  }


  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small $s-gutter--small*2;

    &__footer {
      margin-top: 1em;
    }
  }


  @include t-media-query($s-small-up) {
    padding: $s-gutter--medium $s-gutter--medium*2;

    &__footer {
      margin-top: 3em;
    }
  }


  @include t-media-query($s-medium-up) {
    padding: $s-gutter--medium $s-gutter--large*2;
  }

  @include t-media-query($s-large-up) {
    padding: $s-gutter--medium $s-gutter--xlarge*2;
  }
}
