/*
 *  Drawer
 *    Simple slide out drawer, controlled heavily by Javascript
 *
 *  Dependencies:
 *    scripts/objects/_drawer.js
 *
 *  Version:
 *    1.0.0 - 2018/09/24
 */
$o-drawer--background: rgba(0, 0, 0, 0.7);
$o-drawer-body--background: $s-color--background;

//Body Adjustments
html.is-drawer-open,
body.is-drawer-open {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
}

.o-drawer {
  &.is-opening {}
  &.is-closing {}
  &.is-open {}

  &.is-right {}

  &__drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: $s-z--drawer;
    display: none;

    .o-drawer.is-opening &,
    .o-drawer.is-closing &,
    .o-drawer.is-open & {
      display: block;
    }
  }

  //Background
  &__background {
    position: fixed;
    background: $o-drawer--background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s $s-animation--ease-out;


    .o-drawer.is-opening &,
    .o-drawer.is-open & {
      opacity: 1;
    }
  }

  //Body
  &__body {
    display: flex;
    flex-flow: column;

    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    max-width: 90%;// For Mobile, don't quite fill the screen //
    height: 100%;

    overflow-y: auto;

    background: $o-drawer-body--background;
    transition: all 0.2s $s-animation--ease-out;

    //Unsure:
    min-height: 100%;
  }
}
