/*
 *  Login Template
 *    Contains the styles for the login template / page
 *
 *  Version:
 *    2.0.0 - 2019/02/05
 */
.c-login-template {
  &__header { width: 100%; }
  &__title { color: $s-color--primary; }
  &__form {
    max-width: 500px;
    margin: 0 auto;
    .o-form__label { display: none; }
    .o-form__input-group { padding-bottom: 1em; }

    &.is-hidden { display: none; }
  }

  &__forgot {
    &-link {
      display: block;
      margin-top: 0.5em;
    }
  }
}
