@import './../../../../styles/global.scss';

$c-hamburger--menu-background: white;

.c-hamburger-menu {
  &__button {
    padding: 0.5em;

    &-image {
      width: 2em;
      height: 1.5em;
      object-fit: contain;
    }
  }

  &__menu-wrapper {
    @include t-translate-y(99%);//For some reason some screens have a DPI issue here, 99% is more reliable.
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: $s-z--nav-menu;
    background: $c-hamburger--menu-background;
    display: none;

    .c-hamburger-menu.is-open > & {
      display: block;
    }
  }

  &__menu {
    //Shared
    padding: 0;
    margin: 0;
    list-style-type: none;

    &-item {
      padding: 0;
      margin: 0;

      &-link {
        @include t-flexbox();
        @include t-align-items(center);
        @include t-justify-content(space-between);
        padding: 0.25em;
        font-size: 1.25em;
        transition: all 0.2s $s-animation--ease-out;

        &:hover {
          padding-left: 0.5em;
        }
      }

      &-icon {
        height: 0.8em;
      }
    }

    //Levels
    &--level-0 {
      &-item {
        &-link {
        }
      }
    }

    &--level-1,&--level-2 {
      display: none;

      .c-hamburger-menu__menu-item.is-expanded > & {
        display: block;
      }
    }

    &--level-1 {
      &-item {
        &-link {
          background: darken($c-hamburger--menu-background, 5%);
        }
        &-icon {}
      }
    }

    &--level-2 {
      &-item {
        &-link {
          background: darken($c-hamburger--menu-background, 10%);
        }
        &-icon {}
      }
    }

  }
}
