/*
 *  Featured Blog
 *    Styles for the featured blog section
 *
 *  Version:
 *    2.0.0 - 2019/01/07
 */

$c-featured-blog--radius: 1em;

.c-featured-blog {

  &__split {
    &-left,&-right { padding: $s-gutter--xsmall; }
    &-left { padding-bottom: 0; }
  }

  &__article {
    width: 100%;
    display: flex;
    align-items: stretch;
    border-radius: $c-featured-blog--radius;
    box-shadow: $s-color--drop-effect;
    overflow: hidden;

    + #{&} {
      margin-top: $s-gutter--xsmall;
    }

    &-title {
      margin-top: 0;
    }

    &-image {
      display: block;
      &-image {
        width: 100%;
        display: block;

        @supports(object-fit: cover) {
          height: 100%;
          object-fit: cover;
          object-position: 10% center;
        }
      }
    }

    &-content { padding: $s-gutter--xsmall; }
    &-excerpt { display: none; }
    &-image,&-content { width: 50%; }

    &.is-featured {
      display: block;

      .c-featured-blog__article-image {
        width: 100%;
        &-image { height: auto; }
      }

      .c-featured-blog__article-content {
        width: 100%;
        padding: $s-gutter--small;
      }

      .c-featured-blog__article-excerpt {
        display: block;
      }
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__split {
      &-left,&-right { padding: $s-gutter--small; }
      &-left {padding-bottom: 0;}
    }

    &__article {
      + #{&} { margin-top: $s-gutter--small; }
      &-content { padding: $s-gutter--small; }
    }
  }

  @media screen and (min-width: 650px) {
    &__article-excerpt {
      display: block;
    }
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--small;

    &__split {
      display: flex;
      align-items: stretch;

      &-left,
      &-right {
        padding: 0;
        display: flex;
        align-items: stretch;
        flex-wrap:wrap;
        width: 50%;
      }

      &-left {padding-right: $s-gutter--small/2;}
      &-right {padding-left: $s-gutter--small/2;}
    }

    &__article {
      &-excerpt {display: none;}
    }
  }

  @include t-media-query($s-medium-up) {
    padding: 0 $s-gutter--medium;

    &__split {
      &-left { width: 43%; }
      &-right {width: 57%; }
    }

    &__article {
      &-excerpt {display: block;}
    }
  }

  @include t-media-query($s-large-up) {
    padding: 0 $s-gutter--large
  }
}
