/*
 *  Collection Template
 *    Styles for the collection template.
 *
 *  Version:
 *    2.0.0 - 2019/01/09
 */
$triangle-size: 32px;
.c-collection-template {
  &__facets {
    display: none;
    width: 25%;
  }

  &__products {

    &-list {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }

    .o-product-thumbnail-collection {
      width: 100%;
    }
  }

  &__load-more {
    margin-top: 2em;
    padding: 0 1em;

    .o-btn { width: 100%; }
  }

  &__vendors {
    position: relative;
    overflow: visible;

    &-popup {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%) translateY($triangle-size);
      background: $s-color--background;
      z-index: 7;
      padding: 0.5em;
      max-width: 100vw;
      min-width: 100%;
      box-shadow: 0em 0em 0.5em 0px rgba(0,0,0,0.3);
      border-radius: $s-input--radius;

      display: none;
      &.is-visible { display: block; }

      &::before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 50%;
        transform: translate(-50%,-100%);
        border-style: solid;
        border-width: 0 $triangle-size $triangle-size $triangle-size;
        border-color: transparent transparent $s-color--background;
        filter: drop-shadow(0px -2.5px 2px rgba(0, 0, 0, 0.3));
      }

      &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
      }

      &-title,&-link { white-space: nowrap; }
      &-title { margin-right: 2em; }

      &-vendors {
        display: flex;
        flex-wrap: wrap;
      }

      &-vendor {
        width: 50%;
        padding: 0.5em;


        &-picture {
          position: relative;
          width: 100%;
          padding-bottom: 100%;
          border-radius: $s-input--radius;
          overflow: hidden;
          display: block;
        }

        &-image {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          @supports(object-fit: cover) { height: 100%; object-fit: cover }
        }
      }
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__products-list .o-product-thumbnail-collection {
      width: 50%;
    }


    &__vendors-popup {
      padding: 1em;
      &-vendor { width: (100% / 3); }
    }

    &__load-more .o-btn { width: auto; }
  }

  @include t-media-query($s-small-up) {
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;

    &__facets {
      display: block;
      width: 25%;
    }

    &__products {
      width: 75%;
    }


    &__vendors-popup {
      width: 600px;
      left: auto;
      right: 0;
      padding: 1.5em;
      transform: translateY(100%) translateY($triangle-size);

      &::before { right: 10%; left: auto; }
      &-vendor { width: 50%; }
    }
  }

  @include t-media-query($s-medium-up) {
    &__products .o-product-thumbnail-collection {
      width: (100% / 3);
    }
    &__vendors-popup-vendor { width: (100% / 3); }
  }

}
