{%- layout none -%}
{%- capture sections -%}
  {{- content_for_index -}}
{%- endcapture -%}
{%- assign sectionsArr = sections
  | remove: '<!-- BEGIN content_for_index -->'
  | remove: '<!-- END content_for_index -->'
  | split: '</div>'
-%}

[
  {%- assign s = '' -%}

  {%- for section in sectionsArr -%}
    {%- assign secSplit = section | split: '>' -%}

    {%- for spl in secSplit -%}
      {%- if forloop.first -%}
        {%- continue -%}
      {%- endif -%}

      {%- assign s = s | append: spl -%}

      {%- unless forloop.last -%}
        {%- assign s = s | append: '>' -%}
      {%- endunless -%}
    {%- endfor -%}

    {%- unless forloop.last -%}
      {%- assign s = s | append: ',' -%}
    {%- endunless -%}
  {%- endfor -%}

  {{- s -}}
]
