{%- comment -%}
  Edit Vendor Template
{%- endcomment -%}
{%- capture languageKeys -%}
  customer.register.vendor.title;
  customer.register.vendor.subtitle;
{%- endcapture -%}
{%- include 'tool.language-strings' with { keys: languageKeys } -%}

{%- if customer -%}
  <section class="c-edit-vendor-template">
    <div data-edit-vendor class="c-edit-vendor-template__container"></div>
  </section>
{%- else -%}
  <script type="text/javascript"> window.location.href = '/login';</script>
{%- endif -%}
