<div class="c-page-template">
  <header role="banner" class="c-section__heading">
    <h1 class="o-title c-page-template__title">
      {{- page.title | escape -}}
    </h1>
  </header>

  <div class="c-page-template__body">
    <div class="c-page-template__body-inner">
      {{- page.content -}}

      <div class="c-page-template__form">
        {%- include 'contact-form' -%}
      </div>
    </div>
  </div>
</div>
