{%- comment -%}
  Dropdown Menu
    Snippet to create a dropdown menu.

  Params:
    menu - Menu to generate the dropdown for.
    class - Extra class(es) to be added to the container

  Version:
    2.0.0 - 2018/11/03
{%- endcomment -%}
<nav class="c-dropdown-menu {{ class }}">
  <ul class="c-dropdown-menu__menu">
    {%- for menulink in menu.links -%}
      {%- include 'dropdown-menu--link' with {
        link: menulink,
        level: 0
      } -%}
    {%- endfor -%}
  </ul>
</nav>
