{% comment %}
  Hamburger Menu Link
    Link used within the hamburger menu, also recursive!

  Params:
    link - Link to print

  Version:
    1.0.0 - 2018/11/02
{%- endcomment -%}
{%- include 'tool.does-link-have-submenu' with { link: link } -%}

<li class="c-hamburger-menu__menu-item {% if hasSubmenu %}has-submenu{% endif %}" data-hamburger-menu-link>
  <a href="{{ link.url }}" class="c-hamburger-menu__menu-link" title="{{ link.title | escape }}">
    {% if hasSubmenu %}
      <span data-hamburger-menu-expand>
        {%- include 'object.icon' with { icon: 'plus', class: 'c-hamburger-menu__menu-link-icon is-plus' } -%}
        {%- include 'object.icon' with { icon: 'close', class: 'c-hamburger-menu__menu-link-icon is-minus' } -%}
      </span>
    {% endif %}
    {{ link.title | escape }}
  </a>

  {% if hasSubmenu %}
    {%- comment -%} Submenu {%- endcomment -%}
    {%- assign submenu = linklists[link.handle] -%}
    <ul class="c-hamburger-menu__submenu">
      {%- for sublink in submenu.links -%}
        {%- include 'hamburger-menu--link' with { link: sublink } -%}
      {%- endfor -%}
    </ul>
  {% endif %}
</li>
