{%- comment -%}
  Loader
    Simple spinner that can be used to indicate things are loading, use in
    combination with JavaScript to help indicate loadings is occuring.

  Version:
    2.0.0 - 2019/01/21
{%- endcomment -%}

{%- if container == true -%}
  <div
    class="o-loader__container {% if class != blank %}{{ class }}{% endif %}"
    {% if attributes != blank %}{{ atributes }}{% endif %}
  >
{%- endif -%}

<span class="o-loader">
  <svg width="48" height="48" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="3">
        <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
        <path id="loader-path" d="M36 18c0-9.94-8.06-18-18-18"></path>
      </g>
    </g>
  </svg>
</span>

{%- if container == true -%}
  </div>
{%- endif -%}
