<div class="c-product-template__carousel" data-product-template-carousel>
  {%- comment -%} Carousel (Top) {%- endcomment -%}
  <div class="c-product-template__carousel" data-product-template-carousel-slide>
    {%- for image in product.images -%}
      <div
        class="c-product-template__carousel-slide {% unless forloop.first %}has-js{% endunless %}"
        data-product-template-carousel-image
        data-image-id="{{ image.id }}"
        data-index="{{ forloop.index0 }}"
      >
        {%- assign attr = '' -%}
        {%- if forloop.first -%}{%- assign attr = 'itemprop="image"' -%}{%- endif -%}

        {%- include 'tool.picture' with {
          image: image,
          class: 'c-product-template__carousel-slide-image',
          width: 800,
          widths: '200,400',
          attributes: attr
        } -%}
      </div>
    {%- endfor -%}
  </div>

  {%- comment -%} Carousel (Thumbnails) {%- endcomment -%}
  {%- unless product.images.size <= 1 -%}
    <div class="c-product-template__thumbnails has-js" data-product-template-thumbnail-slide>
      {%- for image in product.images -%}
        <div
          class="c-product-template__thumbnails-slide {% if forloop.first %}is-active {% endif %}"
          data-product-template-thumbnail-image
          data-image-id="{{ image.id }}"
          data-index="{{ forloop.index0 }}"
        >
          {%- assign attr = '' -%}
          {%- if forloop.first -%}{%- assign attr = 'itemprop="image"' -%}{%- endif -%}
          <div class="c-product-template__thumbnails-slide-wrapper">
            {%- include 'tool.picture' with {
              image: image,
              class: 'c-product-template__thumbnails-slide-image',
              width: 800,
              widths: '200,400',
              attributes: attr
            } -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endunless -%}
</div>
