{%- comment -%}
  Related Vendor Products
    Diplays products related to the supplied product based on vendor.

  Params:
    product - The product to fetch the related vendors for.

  Version:
    1.0.0 - 2019/01/24
{%- endcomment -%}

{%- comment -%}
  Generate a list of related products based on vendor, limit to 4 max.
    Also, don't allow the same product as the one that this list is being
    generated for.
{%- endcomment -%}

<section class="c-related-products">
  {%- comment -%} Title {%- endcomment -%}
  {%- if title != blank -%}
    <header role="banner" class="c-section__heading c-related-products__heading">
      <h2 class="o-heading is-size-1 c-related-products__title">
        {{- title | escape -}}
      </h2>
    </header>
  {%- endif -%}

  <div class="c-related-products__products">
    {%- include 'tool.get-vendor-collection-for-product' -%}
    {%- for p in vendorCollection.products -%}
      {%- include 'object.product-thumbnail-collection' with { product: p } -%}
      {%- if forloop.index0 >= 3 -%}{% break %}{% endif %}
    {%- endfor -%}
  </div>
</section>
