<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468 108" aria-labelledby="logoTitle logoDesc" role="img">
  <title id="logoTitle">{{ shop.name | escape }}</title>
  <desc id="logoDesc">{{ shop.name }} Logo</desc>
  
  <defs>
    <style>
      .a{fill:none;clip-rule:evenodd}.c{fill:#792957}
    </style>
    <clipPath id="a">
      <path class="a" d="M201.2 74.3c-9.4 0 2.8-29.5 12.9-29.5 9.7 0-2.5 29.5-12.9 29.5zm152.2-13.2c2.3-9.4 8.9-16.3 13.4-16.3 6.8 0 .1 13.5-12.4 17.2-.7.3-1.2-.2-1-1zm114.4 8.6a.9.9 0 0 0-1.6-.4c-3 3.1-6 5-8.9 5-7.5 0 6.6-19.6 6.6-27.7 0-6.7-3.5-10.4-9.8-10.4-4.8 0-9.4 3.8-13.8 9-1.4 1.7-1.8 1.4-1-.6 5.8-13.6 11-26.3 11-32.7 0-7-7.7-10.2-13-6.3a1.6 1.6 0 0 0-.6 1.4c.2 5.6-2.6 14.6-6.4 24.4-2.8 7.1-8.4 13-14.4 15.3a1.5 1.5 0 0 1-2-1 13.2 13.2 0 0 0-13.1-9.5c-8.7 0-15.7 6.1-15.7 14 0 11.8 9.2 16.6 9.2 23.5 0 2.2-1 4-3.6 4-4.6 0-8.4-8.3-9.3-12.9a1.1 1.1 0 0 0-1-1c-6.8-.5-10.6 14-21.7 14-3.5 0-5.7-2.3-6-8.2a.8.8 0 0 1 .6-.8c28-4 31.8-32.6 13.1-32.6-13.2 0-24.1 13.2-27.4 25a.6.6 0 0 1-.8.4 14 14 0 0 1-5.4-3.1 1.2 1.2 0 0 1 0-2c6.8-4.8 8.8-18 2-20a5.6 5.6 0 0 0-2.3-.3c-3.6 0-9 4-14.2 9.3-.7.7-1.2.5-1.1-.5a7 7 0 0 0 0-.8 7.8 7.8 0 0 0-10-7.7c-3 .6-7.5 2.4-12.7 3.6-.7.1-1-.2-.8-.9 5-14.2 11.3-25.5 21-27.5a.7.7 0 0 0 .5-.7c-.3-3.7-3.1-7-8.6-7-13.5 0-20.5 17-26.3 36.4a.7.7 0 0 1-.8.5 22.3 22.3 0 0 1-5.6-1.8 7.3 7.3 0 0 0-3.6 6c0 3 2.6 4.1 6.5 4.3a.7.7 0 0 1 .7 1 7 7 0 0 1-.7 1.6c-6.4 11-17.9 22.4-22 22.4-9.4 0 22-51.2 22-66.4 0-7.1-7.9-10.2-13.2-6.1a1 1 0 0 0-.4 1c.8 8.4-13.9 40.3-21.2 59.8-4.7 6.7-10.2 11.6-14 11.6-9.4 0 20-47.1 20-62.3 0-7.8-7.8-10.3-13.1-6.1a1 1 0 0 0-.4.9c.6 5.6-5.3 20.6-11.3 35.5-.2.6-.6.6-.9 0-1.8-3.8-5-6.1-10-6.1-13.2 0-25.6 14.9-28.6 29.5a6 6 0 0 1-1.4 2.8c-3.2 3.5-6.4 5.8-9.6 5.8-7.4 0 6.6-19.6 6.6-27.8 0-6.7-3.5-10.4-9.8-10.4-5.8 0-11 5.4-16.3 12.3a16.9 16.9 0 0 0 .7-4.3c0-7.1-8.4-10.2-13.7-6.1a1 1 0 0 0-.4 1c1 6.8-4.6 17.4-8.3 26.4a3.9 3.9 0 0 1-.6 1c-3.9 4.7-8 7.9-11.2 7.9-7.5 0 8-22 8-30.2 0-7.1-7.8-10.2-13.1-6.1a1.4 1.4 0 0 0-.6 1c-2.7 20-16.2 35.3-21.2 35.3-7.4 0 8-22 8-30.2 0-7.1-7.7-10.2-13-6.1a1.1 1.1 0 0 0-.4 1C88.8 49.2 76 67.1 76 76.7c0 7 3.8 11.2 9.7 11.2 5.7 0 11-5 16.1-11.6.6-.8 1-.6 1 .3 0 7 3.8 11.3 9.8 11.3 5 0 10.2-4.4 15.1-10.2.4-.4.7-.3.8.2.5 6.2 4.6 9.6 10.1 10a.9.9 0 0 0 .9-.7c3.6-19 17.4-37.5 22.3-37.5 6.5 0-6 14.5-6 27 0 7 3.8 11.2 9.8 11.2 5.6 0 11.3-5.4 16.7-12.1.4-.6.8-.5 1 .2 1.3 8.5 6.7 11.8 12.1 11.8s10.8-5.3 15.2-11.3c.2-.4.4-.3.4.1 0 7 3.8 11.3 9.8 11.3 5.4 0 11-5 16.3-11.6.4-.5.7-.4.7.2v.1c0 7 3.8 11.3 9.8 11.3 7.2 0 16.3-9.7 24-19.7.6-.8.9-.7.6.3-5.2 16.5-11.4 29.7-22.3 30.1a.6.6 0 0 0-.6.7c.4 6 5.3 8.7 10.7 8.7 16.5 0 22.4-32.3 30.7-59.6a2.6 2.6 0 0 1 1.8-1.7A75 75 0 0 0 302 43c1-.5 1.7 0 1.5 1.1-1.9 10.5-11.1 25.4-11.1 33.5 0 5.7 3 9.7 8.5 10.2a1.3 1.3 0 0 0 1.5-1.1 53.5 53.5 0 0 1 2.1-8.9l2-5.1c4-9.1 9.7-17.1 14.4-21.4.6-.6 1-.4 1 .4V52.6c0 8 5.8 13.5 15.4 15.7a.8.8 0 0 1 .6.7c.4 11.9 7 18.8 16 18.8 8.3 0 16.7-6.5 22-12.8a1 1 0 0 1 1.9.3c2.7 7.1 8.7 12.5 16 12.5 9.2 0 13.7-6 13.7-13.5 0-11.3-10.2-18.3-10.2-24.6 0-2.7 1.8-5 4.3-5 4.2 0 5 5.7 4.7 9.3a1.3 1.3 0 0 0 .9 1.4c3.4 1.1 8.6-.5 13.8-4 .9-.7 1.3-.3.9.7a94.2 94.2 0 0 0-8.2 24.9 10.6 10.6 0 0 0 8.9 10.8 1.4 1.4 0 0 0 1.6-1.1c3.8-18.8 17.3-37 22.2-37 6.6 0-6 14.5-6 27 0 7 3.8 11.2 9.8 11.2 9 0 19.4-12.8 17.6-18.2z"/>
    </clipPath>
    <clipPath id="b">
      <path class="a" d="M46.3 80c-3.5 0-4.5-2.3-4.5-5.6 0-5.4 3-12.2 6.6-19.1a.8.8 0 0 1 .9-.4C63 59.7 60 80 46.3 80zm15.6-26.7c-.6-.2-.6-.6 0-.9C101 37.2 93.3 4 58.2 4 28.9 4 0 26.1 0 49.6c0 10 5.6 17 14 17 7.7 0 12.2-4.7 12.6-9.5a.6.6 0 0 0-.6-.6c-8.2.6-11.4-2.7-11.4-9.5 0-15.3 18.8-36.6 43.7-36.6C83.6 10.4 75 46 53 48.1c-.6 0-.8-.3-.6-.8 3-6 5.4-11.6 5.4-16 0-7.2-7.9-10.3-13.2-6a1.3 1.3 0 0 0-.5.8C42 46 29.3 58 29.3 71.6c0 10.9 7.6 16.4 17.2 16.4C66.1 88 85 62.4 62 53.3z"/>
    </clipPath>
  </defs>
  <g clip-path="url(#a)">
    <rect class="c" x="66" y="-10" width="412" height="128"/>
  </g>
  <g clip-path="url(#b)">
    <rect class="c" x="-10" y="-6" width="108" height="104"/>
  </g>
</svg>
