/*
 *  Activate Account Template
 */
.c-activate-account-template {
  padding: $s-gutter--xsmall;

  &__form {
    max-width: 500px;
    margin: 0 auto;
  }

  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small;
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--small $s-gutter--medium;
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--medium $s-gutter--large;
  }

  @include t-media-query($s-large-up) {
    padding: $s-gutter--large $s-gutter--xlarge;
  }
}
