/*
 *  Addresses Page
 *    Styles for addresses page.
 *
 *  Version:
 *    1.0.0 - 2018/02/21
 */
.c-addresses-template {
  padding: $s-gutter--xsmall;

  &__btn-account {
    float: right;
  }

  &__address-list {
    padding-top: 2em;
  }

  &__create-address,&__edit-address {
    display: none;

    &.is-visible { display: block; }
  }

  &__input-province {
    display: none;
  }

  &__create-address > .o-form {
    max-width: 500px;
    margin: 0 auto;
  }


  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small;
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--small $s-gutter--medium;
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--medium $s-gutter--large;
  }

  @include t-media-query($s-large-up) {
    padding: $s-gutter--large $s-gutter--xlarge;
  }
}
