@import './../../../styles/global';

$c-topbar--background: black;
$c-topbar--color: white;
$c-topbar--padding: 0.5em;

.c-topbar {
  &__boundary {
    padding: $c-topbar--padding;
    text-align: center;
    color: $c-topbar--color;
    background: $c-topbar--background;
  }
}
