$c-registration--steps: 3;

.c-registration-form {
  padding: $s-gutter--xsmall;
  position: relative;
  overflow: hidden;

  &__background {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    min-width: $s-screen-xlarge * 2;
    max-width: none;
    min-height: $s-screen-xlarge * 2;
  }

  &__title { color: $s-color--primary;}

  &__inner {
    position: relative;
    padding: $s-gutter--xsmall;
    border-radius: $s-input--radius;
    background: $s-color--background;
  }

  &__body {
    overflow: hidden;
    width: 100%;
  }

  &__step {
    width: 100%;
  }

  // Postcode Form
  &__postcode {
    &-form {
      margin: 0 auto;
      max-width: 400px;
    }

    &-input,
    &-button {
      display: block;
      width: 100%;
      margin: 2em 0;

      &:first-child {margin-top:0;}
      &:last-child {margin-bottom:0;}
    }
  }

  //Registration Form
  &__form {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: $s-gutter--medium;

    .o-form__label { display: none; }
  }

  //Progress Bar
  &__progress {
    width: 100%;
    margin-top: 3em;
    text-align: center;

    &-bar {
      position: relative;
      width: 100%;
      background: $s-color--border-default;
      height: 12px;
      border-radius: $s-input--radius;
      overflow: hidden;

      &-fill {
        border-radius: $s-input--radius;
        background: $s-color--secondary;
        top: 0;
        left: 0;
        height: 100%;
        width: 100% / $c-registration--steps;
        position: absolute;
        transition: all 1s $s-animation--ease-out;
      }
    }

    &-counter {
      display: block;
      margin-top: 1.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  &__error {
    color: $s-color--error;
    .o-link { color: inherit; }
  }


  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small;

    &__inner { padding: $s-gutter--xsmall $s-gutter--small; }
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--medium;
    &__inner { padding: $s-gutter--small $s-gutter--medium; }
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--large;
    &__inner { padding: $s-gutter--medium $s-gutter--large; }
  }

  @include t-media-query($s-large-up) {
    padding: $s-gutter--large $s-gutter--xlarge;
  }
}
