/*
 *  Multistep Content
 *    Content for a multiple step process
 *
 *  Version:
 *    1.0.0 - 2018/11/12
 */

.c-multistep-content {
  background: #F8F8F8;
  position: relative;

  &__background {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @supports(object-fit: cover) {
      object-fit: cover;
      height: 100%;
    }

    &.is-desktop { display: none; }
  }

  &__heading,&__footer {
    position: relative;//Z-fight
  }

  &__title { margin: 0; }

  &__video {
    width: 100%;
    max-width: $s-screen-small;
    margin: 0 auto;
    padding-bottom: $s-gutter--small;
  }

  &__steps {
    position: relative;//Z-fight

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 $s-gutter--small;
  }

  &__step {
    text-align: center;
    padding: $s-gutter--xsmall;
    width: 100%;

    &-icon {
      font-family: $s-font--stack-secondary;
      font-size: 2.6em;
      color: $s-color--primary;

      margin: 0 auto;
      background: white;

      width: 2.5em;
      height: 2.5em;
      display: inline-flex;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
    }

    &-title {
      color: $s-color--primary;
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__step-icon { font-size: 3em; }
  }


  @include t-media-query($s-small-up) {
    &__steps { padding: $s-gutter--small; }
    &__step { width: 33.33%; }
    &__step-icon {
      font-size: 6em;

      width: 2em;
      height: 2em;
    }

    &__background {
      &.is-desktop {display: block;}
      &.is-mobile {display: none;}
    }
  }


  @include t-media-query($s-medium-up) {
    &__video {
      max-width: $s-screen-medium;
    }

    &__steps { padding: 0 $s-gutter--medium; }
    &__step { width: 28%; }
  }


  @include t-media-query($s-large-up) {
    &__steps { padding: 0 $s-gutter--large; }
    &__step { padding: $s-gutter--medium; }
  }
}
