/*
 *  USP Icon Grid
 *    Display of USP Icons in a grid like layout. Contains some text for USPs.
 *
 *  Version:
 *    1.0.0 - 2018/11/10
 */
.c-usp-icon-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: $s-gutter--xsmall;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: $s-gutter--xsmall 0;

    &-picture {
      width: 2.5em;

      &-image {
        display: block;
        width: 100%;
        max-height: 3em;
        margin: 0 auto;
        object-fit: contain;
      }
    }

    &-title {
      flex-grow: 1;

      font-size: 0.7em;
      font-weight: bold;
      padding: 0 $s-gutter--xsmall;
    }
  }


  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small;
    &__icon {
      width: (100% / 3);
      padding: $s-gutter--small/2 0;
    }
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--small $s-gutter--large;

    &__icon-picture { width: 4em; }
  }

  @include t-media-query($s-large-up) {
    &__icon {
      width: (100% / 6);
    }
  }
}
