/*
 *  Collection Template Banner
 *    Provides styles for the collection template's banner
 *
 *  Version:
 *    1.0.0 - 2019/01/08
 */

$c-collection-template-banner--background: #F1F4F9;

.c-collection-template-banner {
  background: $c-collection-template-banner--background;
  padding: $s-gutter--small $s-gutter--xsmall;
  color: $s-color--primary;
  //overflow: hidden;
  position: relative;
  width: 100%;

  &__image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @supports (object-fit: contain) {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &__content { position: relative; }//Gives our content some real Z value
  &__title {
    margin: 0;
    padding-bottom: 1em;
  }

  &__btn {
    width: 100%;
  }

  @include t-media-query($s-xsmall-up) {
    padding: $s-gutter--small;
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--medium;

    &__content {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__title { padding-bottom: 0; width: 60%; }
    &__btn { width: auto; }
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--medium $s-gutter--large;
  }

  @include t-media-query($s-large-up) {
    padding: $s-gutter--large $s-gutter--xlarge;
  }
}
