@import './../../../../styles/global';

.c-image-section {
  position: relative;

  .c-image-section {
    &__image {
      //TODO: Add absolute fill
      @include t-absolute-fill();
      object-fit: cover;
      object-position: bottom center;
    }

    &__content {
      position: relative;

      &-inner {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
  }
}
