@import './../../../../styles/global.scss';

$c-topbar--background: $s-color--primary;
$c-topbar--text: $s-color--primary-compliment;

.c-topbar {

  &__boundary {
  }

  &__link {
    @extend %s-font--promotion;
    
    display: block;
    width: 100%;
    padding: 0.5em 0;
    font-size: 0.95em;
    text-align: center;

    background: $c-topbar--background;
    color: $c-topbar--text;
  }
}
