@import './../../../../styles/global.scss';

$c-header-nav--menu-bottom-thick: 4px;

.c-header-nav {
  display: inline-block;

  //Icons && Menu
  &__icon-menu,
  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;

    &-item {
      display: inline-block;
      position: relative;
    }

    &-link {
      display: inline-block;
      padding: 1em 1.5em;
    }
  }

  //Menu Specific
  &__menu {

    //Level 0 (Top) only!
    &--level-0 {
      @include t-flexbox();

      &__link {}

      //Hover effect on top level links
      &__item {
        .c-header-nav__menu--level-0__link {
          border-bottom: $c-header-nav--menu-bottom-thick solid transparent;
          transition: all 0.2s $s-animation--ease-out;
        }

        &:hover {
          .c-header-nav__menu--level-0__link {
            border-bottom: $c-header-nav--menu-bottom-thick solid $s-color--primary;
          }
        }
      }
    }

    //Level 1 + 2 Only, add hover treatment
    &--level-1,&--level-2 {
      position: absolute;
      background: $s-color--primary;
      color: $s-color--secondary;
      display: none;

      &:hover {
        background: $s-color--primary-hover;
      }

      .c-header-nav__menu-item:hover > & {
        display: block;
      }
    }

    &--level-1 {
      @include t-translate-y(100%);
      bottom: 0;
      left: 0;
    }

    &--level-2 {
      @include t-translate-x(100%);
      top: 0;
      right: 0;
    }
  }

  //Icon Menu
  &__icon {
    &-menu {
      text-align: right;
      &-item {
        + & {
          margin-left: 1em;
        }
      }

      &-link {
        padding: 0.75em;
      }

      &-icon {
        width: 1.4em;
        object-fit: contain;
      }
    }

    &-account {
      display: none;
    }
  }

  @include t-media-query($s-xsmall-up) {
    &__icon{
      &-account {
        display: inline-block;
      }

      &-menu-icon {
        width: 1.75em;
        height: 1.75em;
      }
    }
  }
}
