@import './../../../../styles/global.scss';

.c-header-nav {
  border: 1px solid red;
  display: inline-block;

  //Icons && Menu
  &__icon-menu,
  &__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: pink;
    white-space: nowrap;

    &-item {
      display: inline-block;
      position: relative;
    }

    &-link {
      display: inline-block;
      padding: 1em;
    }
  }

  //Menu Specific
  &__menu {
    &-item { }
    &-link { }

    &--level-0 {
      @include t-flexbox();
      @include t-justify-content(space-between);

      &__link {}
    }

    //Level 1 + 2 Only, add hover treatment
    &--level-1,&--level-2 {
      display: none;
      position: absolute;

      .c-header-nav__menu-item:hover > & {
        display: block;
      }
    }

    &--level-1 {
      bottom: 0;
      left: 0;
      @include t-translate-y(100%);
    }

    &--level-2 {
      top: 0;
      right: 0;
      @include t-translate-x(100%);
    }
  }

  &__icon-menu {
    text-align: right;
    &-item {
      
      + & {
        margin-left: 1em;
      }
    }

    &-link {
      padding: 0.75em;
    }

    &-icon {
      display: inline-block;
      width: 1.75em;
      height: 1.75em;
      object-fit: contain;
    }
  }
}
