@import './../../../../styles/global.scss';

.c-cart-drawer {

  &__button {
    padding: 0.5em;
    @include t-flexbox();
    @include t-align-items(center);

    &-count {
      font-size: 0.85em;
      color: $s-color--header-text;
    }

    &-image {
      width: 2em;
      height: 1.5em;
      object-fit: contain;
    }
  }
}
