/*
 *  Product Thumbnail
 *    Styles for the Product Thumbnails
 *
 *  Version:
 *    1.0.0 - 2018/11/27
 */
.o-product-thumbnail {
  padding: $s-gutter--xsmall;
  text-align: center;
  display: inline-block;

  width: 20%;//TEsting

  &__picture {
    display: block;

    &-image {
      width: 100%;
      display: block;
    }
  }

  &__details {
    display: block;
    padding: $s-gutter--xsmall 0;

    &-title {
      text-transform: initial;
      > a { color: inherit; }
    }

    &-title,&-vendor {margin: 0; color: inherit;}
  }

  @include t-media-query($s-small-up) {
    padding: $s-gutter--small;
    &__details { padding: $s-gutter--small 0; }
  }

  @include t-media-query($s-medium-up) {
    padding: $s-gutter--medium;
    &__details { padding: $s-gutter--medium 0; }
  }
}
