/*
 *  Colors
 *    Provides base color settings.
 *
 *  Version:
 *    1.0.0 - 2018/07/09
 */
$s-color--primary: #978c5e;
$s-color--primary-hover: darken($s-color--primary, 11%);
$s-color--primary-compliment: white;

$s-color--secondary: transparent;
$s-color--secondary-compliment: $s-color--primary;

// Common Header Colors //
$s-color--header-text: white;
