/*
 *  Font Settings
 *    Settings for the fonts used throughout the site.
 *
 *  Version:
 *    1.0.0 - 2018/09/11
 */
$s-font-family--default: "roboto";
$s-font-weight--default: 400;
$s-font-size--default: 12px;

$s-font-family--heading: "proxima-nova-extra-condensed";
$s-font-weight--heading: 900;

// Promotional Font (Top Bar, Sale, Etc.) //
%s-font--promotion {
  text-transform: uppercase;
}

%s-font--heading {
  font-family: $s-font-family--heading;
  font-weight: $s-font-weight--heading;
  text-transform: uppercase;
  line-height: 1;
}

%s-font--button {
  @extend %s-font--heading;
}
