/*
 *  Typography
 *
 *  Version:
 *    1.0.0 - 2018/07/09
 */

//Avenir
$s-font--avenir: "Avenir Next", sans-serif;
$s-font--avenir-weight-regular: normal;
$s-font--avenir-weight-bold: bold;
$s-font--avenir-weight-heavy: 800;

%s-font--default {
  font-family: $s-font--avenir;
  font-weight: $s-font--avenir-weight-regular;
  letter-spacing: 0.03em;
}

%s-font--heading {
  font-family: $s-font--avenir;
  font-weight: $s-font--avenir-weight-bold;
  letter-spacing: 0.05em;
}

//Styles
%s-font--title {
  @extend %s-font--heading;
  text-transform: uppercase;
  font-weight: $s-font--avenir-weight-heavy;
}

%s-font--author {
  text-transform: uppercase;
}

%s-font--pretitle {
  text-transform: uppercase;
}

%s-font--promotion {
  text-transform: uppercase;
}

%s-font--sale {
  text-decoration: line-through;
  color: $s-color--sale;
}

%s-font--navigation-link {
  @extend %s-font--heading;
  text-transform: uppercase;
}

%s-font--button {
  @extend %s-font--heading;
  text-transform: uppercase;
  font-weight: $s-font--avenir-weight-heavy;
}

%s-font--subdued-title {
  @extend %s-font--heading;
  text-transform: uppercase;
  font-weight: $s-font--avenir-weight-heavy;
  color: $s-color--subdued;
}

%s-font--price {
  color: $s-color--subdued;
}

%s-font--footer-link {
  @extend %s-font--heading;
  text-transform: uppercase;
  font-weight: $s-font--avenir-weight-heavy;
}
