/*
 *  Slick Carousel
 *    Custom theme for the slick carousel
 *
 *  Version:
 *    1.0.0 - 2018/11/27
 */
$x-slick--arrow-size: 10px;

.slick {
  position: relative;

  &-slider {}
  &-list {}
  &-track {}

  &-arrow {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 0;
    display: block;

    background: white;
    border-radius: 50%;
    width: $x-slick--arrow-size*4;
    height: $x-slick--arrow-size*4;
    box-shadow: 0 0 $x-slick--arrow-size/2 0px rgba(0,0,0,0.1);
    transition: box-shadow 0.2s $s-animation--ease-out;

    &:after {
      font-size: $x-slick--arrow-size;
      background-image: url('./../assets/svgs/icon-chevron-left.svg');
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: 40% center;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      transition: all 0.1s $s-animation--ease-out;
    }

    &:hover{
      box-shadow: 0 0 $x-slick--arrow-size/2 0px rgba(0,0,0,0.3);
      &:after { background-position: 30% center; }
    }
  }

  &-prev { left: 0; }
  &-next {
    right: 0;
    &:after {transform: rotate(180deg);}
  }

  /*** Media Queries ***/
  @include t-media-query($s-xsmall-up) {
  }

  @include t-media-query($s-small-up) {
    &-arrow { width: $x-slick--arrow-size*8; height: $x-slick--arrow-size*8; }
  }

  @include t-media-query($s-medium-up) {
  }
}

/**** Arrows Inset Slider ****/
.has-arrows-inset .slick, .has-arrows-inset.slick {
  &-prev { left: $x-slick--arrow-size; }
  &-next { right: $x-slick--arrow-size; }

  @include t-media-query($s-small-up) {
    &-prev { left: $x-slick--arrow-size*4; }
    &-next { right: $x-slick--arrow-size*4; }
  }
}

/**** Peaking Slider ****/
.has-peak .slick, .has-peak.slick {
  &-list { padding: 0 $s-gutter--medium; }

  &-slide {
    opacity: 0.3;
    transition: opacity 0.2s $s-animation--ease-out;
    &.slick-active {opacity: 1;}
  }

  @include t-media-query($s-xsmall-up) {
    &-list { padding: 0 $s-gutter--small; }
  }

  @include t-media-query($s-small-up) {
    &-list { padding: 0 $s-gutter--large; }
  }

  @include t-media-query($s-medium-up) {
    &-list { padding: 0 $s-gutter--xlarge; }
  }
}

/**** Restore Touch Actions ****/
.has-cursor .slick, .has-cursor.slick {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  -ms-touch-action: initial;
  touch-action: initial;
  -webkit-tap-highlight-color: initial;
}
