/*
 *  Responsive Settings
 *    Provides settings for responsive tools
 *
 *  Dependencies:
 *
 *  Version:
 *    1.0.2 - 2019/12/01
 */

//Pixel size definitions
$s-screen-xsmall: 350px;  // Modern Phones
$s-screen-small:  750px;  // Modern Large Mobiles / Small Tablets
$s-screen-medium: 1100px; // Large Tablet / Small Old Laptop
$s-screen-large:  1350px; // Large Tablet Landscape / Average Laptop
$s-screen-xlarge: 1650px; // Large Laptop / Average - Large Desktop
$s-screen-xxlarge: 2000px; // 4K Deskop

//Size definitions
$s-xsmall: 'xsmall';
$s-small: 'small';
$s-medium: 'medium';
$s-large: 'large';
$s-xlarge: 'xlarge';
$s-xxlarge: 'xxlarge'

//Groups
$s-xsmall-up: 'xsmall-up';
$s-small-up: 'small-up';
$s-medium-up: 'medium-up';
$s-large-up: 'large-up';
$s-xlarge-up: 'xlarge-up';
$s-xxlarge-up: 'xxlarge-up'

//Breakpoints
$s-breakpoints: (
  $s-xsmall     '(max-width: #{$s-screen-small - 1})',
  $s-small      '(min-width: #{$s-screen-small}) and (max-width: #{$s-screen-medium - 1})',
  $s-medium     '(min-width: #{$s-screen-medium}) and (max-width: #{$s-screen-large - 1})',
  $s-large      '(min-width: #{$s-screen-large}) and (max-width: #{$s-screen-xlarge - 1})',
  $s-xlarge     '(min-width: #{$s-screen-xlarge})',

  $s-xsmall-up  '(min-width: #{$s-screen-xsmall})',
  $s-small-up   '(min-width: #{$s-screen-small})',
  $s-medium-up  '(min-width: #{$s-screen-medium})',
  $s-large-up   '(min-width: #{$s-screen-large})',
  $s-xlarge-up  '(min-width: #{$s-screen-xlarge})',
  $s-xxlarge-up '(min-width: #{$s-screen-xxlarge})'
);
