/*
 *  Featured Video
 *    Featured Video section with some content
 *
 *  Version:
 *    2.0.0 - 2018/11/05
 */
.c-featured-video {
  position: relative;

  &__banner {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;

    &.is-desktop {display:none;}
  }

  &__title {
    position: absolute;
    top: $s-gutter--medium;
    right: $s-gutter--xsmall;
    width: 80%;
    color: $s-color--primary;
    z-index: 5;
    margin: 0;
    text-align: right;

    &.for-desktop { display: none; }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 0;
    width:100%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    padding: $s-gutter--xsmall;

    &:hover {
      text-decoration: none;
      .c-featured-video__play-icon { transform: scale(1.05); }
    }

    &-icon {
      display: block;
      width: 30%;
      padding: $s-gutter--xsmall;
      transition: all 0.2s $s-animation--ease-out;

    }

    &-heading {
      padding: $s-gutter--xsmall;
      width: 70%;
    }
  }

  &__content {
    padding: $s-gutter--small;
  }

  &__btn {
    width: 100%;
    display: block;
    margin: $s-gutter--small 0;
  }


  @include t-media-query($s-xsmall-up) {
    &__image {
      &.is-mobile {display: none;}
      &.is-desktop {display: block;}
    }

    &__play {width: 65%;}
  }

  @include t-media-query($s-small-up) {
    &__play {
      width: 50%;
      left: $s-gutter--xsmall;
    }
    &__banner { position: static; }

    &__content {
      position: absolute;
      right: 2em;
      bottom: 1em;
      width: 50%;
      background: white;
      border-radius: 1em;
    }
  }

  @include t-media-query($s-medium-up) {
    &__title {
      position: static;
      top: auto;
      right: auto;
      width: 100%;
      text-align: left;
      margin-bottom: $s-gutter--small;

      &.for-mobile {display: none;}
      &.for-desktop {display: block;}
    }

    &__play {
      width: 45%;
      left: $s-gutter--small;
    }

    &__content {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      padding: $s-gutter--small;
      width: 50%;
    }

    &__btn {
      margin: $s-gutter--small 0;
    }
  }

  @include t-media-query($s-large-up) {
    &__content {
      padding: $s-gutter--medium $s-gutter--large;
      width: 36%;
      right: $s-gutter--large;
    }

    &__play {
      top: 40%;
      left: $s-gutter--xlarge;
    }

    &__btn {
      display: inline-block;
      width: auto;
    }
  }
}
