{% comment %}
  Featured Blog
    Featured Blog section

  Version:
    2.0.0 - 2019/01/07
{% endcomment %}

{%- assign blog = blogs[section.settings.blog] -%}

<section class="c-featured-blog">
  {%- comment -%} Header {%- endcomment -%}
  <header role="banner" class="c-section__heading">
    {%- if section.settings.s-title != blank -%}
      <h2 class="o-heading is-size-1">{{ section.settings.s-title | escape }}</h2>
    {%- endif -%}
  </header>

  {%- comment -%} Blog Split (Left Column Larger on Desktop) {%- endcomment -%}
  <div class="c-featured-blog__split">
    {%- comment -%} Left Side (First Article Only) {%- endcomment -%}
    <div class="c-featured-blog__split-left">
      {%- for article in blog.articles limit: 1 -%}
        {%- include 'featured-blog-article' with {
          article: article,
          blog: blog,
          isFeatured: true
        } -%}
      {%- endfor -%}
    </div>

    {%- comment -%} Right Side (Second and Third Article) {%- endcomment -%}
    <div class="c-featured-blog__split-right">
      {%- for article in blog.articles limit: 3 offset: 1 -%}
        {%- include 'featured-blog-article' with {
          article: article,
          blog: blog,
          isFeatured: false
        } -%}
      {%- endfor -%}
    </div>
  </div>

  <footer role="contentinfo" class="c-section__footer">
    <a href="{{ blog.url }}" class="o-btn is-secondary is-wide">
      {{- section.settings.label | escape -}}
    </a>
  </footer>
</section>

{% schema %}
  {
    "name": "Featured Blog",
    "class": "c-section c-section__featured-blog",
    "settings": [
      {
        "type": "text",
        "id": "s-title",
        "label": "Title",
        "default": "Our Blog"
      },

      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },

      {
        "label": "Button Label",
        "id": "label",
        "default": "Go To Blog",
        "type": "text"
      }
    ],
    "presets": [
      {
        "name": "Featured Blog",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
