{% comment %}
  Header Section
    Contains all the header components and settings for menus.

  Version:
    2.0.0 - 2018/11/01
{% endcomment %}

{%- if customer -%}
  {%- assign menu = linklists[section.settings.login-menu] -%}
{%- else -%}
  {%- assign menu = linklists[section.settings.menu] -%}
{%- endif -%}

<header class="c-header" data-header>
  {% comment %} Hamburger Menu {% endcomment %}
  {%- include 'hamburger-menu' with {
    menu: menu,
    class: 'c-header__hamburger'
    buttonClass: 'c-header__button',
    iconClass: 'c-header__button-icon'
  } -%}

  {% comment %} Logo {% endcomment %}
  <a href="/" class="c-header__logo">{%- include 'site-logo' -%}</a>

  {% comment %} Navigation {% endcomment %}
  {%- include 'dropdown-menu' with {
    menu: menu,
    class: 'c-header__menu'
  } -%}

  {% comment %} Cart Icon {% endcomment %}
  {%- if customer -%}
    <a href="/cart" class="c-header__button is-cart">
      <span
        class="c-header__button-label {% unless cart.item_count > 0 %}is-hidden{% endunless %}"
        data-header-cart-count
      >
        {{ cart.item_count }}
      </span>

      {%- include 'object.icon' with {
        icon: 'cart', class: 'c-header__button-icon', title: 'cart.general.title'
      } -%}
    </a>
  {%- else -%}
    <span class="c-header__button is-cart is-hidden">
      {%- include 'object.icon' with {
        icon: 'cart', class: 'c-header__button-icon', title: 'cart.general.title'
      } -%}
    </span>
  {%- endif -%}

  {% comment %} Login Button(s) {% endcomment %}
  <div class="c-header__account-bar {% if customer %}is-logged-in{% endif %}">
    {%- if shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <div class="c-header__account-bar-button">
          <a href="/account" class="o-btn is-large is-tertiary">
            {{- 'layout.customer.account' | t -}}
          </a>
        </div>
      {%- else -%}
        <div class="c-header__account-bar-button">
          <a href="/account/login" class="o-btn is-large is-tertiary">
            {{- 'layout.customer.log_in' | t -}}
          </a>
        </div>

        <div class="c-header__account-bar-button">
          <a href="/account/register" class="o-btn is-large is-secondary">
            {{- 'layout.customer.create_account' | t -}}
          </a>
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
</header>


{% schema %}
  {
    "name": "Header",
    "class": "c-section c-section__header",
    "settings": [
      {
        "id": "menu",
        "label": "Menu",
        "default": "main-menu",
        "type": "link_list"
      },
      {
        "id": "login-menu",
        "label": "Menu (Logged In)",
        "default": "main-menu",
        "info": "Alternate menu to show when a customer has logged in.",
        "type": "link_list"
      }
    ]
  }
{% endschema %}
