{%- comment -%}
  Newsletter Signup
    Contains a newsletter signup form as well as a bit of detail about signing
    up to the newsletter.

  Version:
    2.0.0 - 2019/01/08
{%- endcomment -%}

<section class="c-newsletter-signup">
  {%- comment -%} Content {%- endcomment -%}
  <div class="c-newsletter-signup__content">
    <h3 class="o-heading is-size-1">{{ section.settings.s-title | escape }}</h3>
    <p>{{ section.settings.text | escape }}</p>

    {%- assign mint = 'mint.png' | asset_url -%}
    {%- include 'tool.picture' with { image: mint, class: 'c-newsletter-signup__mint' } -%}
  </div>

  {%- include 'newsletter-signup-inline' with { class: 'c-newsletter-signup__form' } -%}
</section>

{% schema %}
  {
    "name": "Newsletter Signup",
    "class": "c-section c-section__newsletter-signup is-alternate",
    "settings": [
      {
        "type": "text",
        "id": "s-title",
        "label": "Title",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "And save 5% off your first purchase!"
      }
    ]
  }
{% endschema %}
