{%- comment -%}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
BUNDLFRESH SPECIFIC:
ALL COLLECTIONS ARE THE /all COLLECTION!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{%- endcomment -%}
{%- assign fakeCollection = collections.all -%}

{%- include 'tool.collection-per-page' -%}
<div
  class="c-collection-template"
  itemscope itemtype="http://schema.org/ItemList"
  data-collection-template
  data-collection-handle="{{ fakeCollection.handle | escape }}"
  data-collection-per-page="{{ perPage }}"
>

  {%- comment -%} Banner {%- endcomment -%}
  {%- include 'collection-template-banner' -%}

  {%- comment -%} Begin by paginating {%- endcomment -%}
  {%- paginate fakeCollection.products by perPage -%}
    {%- comment -%} Supply Data to the AjaxCollection {%- endcomment -%}
    <script type="application/json" data-collection-json>
      {%- include 'json.collection' with { collection: fakeCollection, genHandles: false } -%}
    </script>
    {%- unless paginate.current_page == 1 -%}
      <script type="application/json" data-collection-handles>
        {%- include 'tool.collection-product-handles' with { collection: fakeCollection } -%}
      </script>
    {%- endunless -%}

    {%- comment -%} Collection Template Faceted Navigation {%- endcomment -%}
    <aside class="c-collection-template__facets" role="presentation">
      {%- include 'collection-faceted-nav' with { collection: fakeCollection } -%}
    </aside>

    {%- comment -%} Collection Template Products Grid {%- endcomment -%}
    <div class="c-collection-template__products">
      {%- comment -%} Top Nav and filtering {%- endcomment -%}
      {%- include 'collection-top-nav' with { collection: fakeCollection } -%}

      {%- comment -%} Product Loop (Where the products will be dumped) {%- endcomment -%}
      <div class="c-collection-template__products-list" data-collection-template-products>
        {%- for product in fakeCollection.products -%}
          {%- include 'object.product-thumbnail-collection' with { product: product, collection: fakeCollection } -%}
        {%- endfor -%}
      </div>

      {% comment %} Standard Pagination (For instances when JavaScript is unavailable) {% endcomment %}
      <div class="c-collection-template__pagination no-js">
        {%- include 'object.pagination' -%}
      </div>

      {% comment %} View More Button (JS Required) {% endcomment %}
      <div class="c-collection-template__load-more has-js">
        <button type="button" class="o-btn is-secondary is-large is-wide" data-collection-template-load-more>
          {{- 'collections.general.load_more' | t -}}
        </button>
      </div>

    </div>
  {%- endpaginate -%}
</div>


{% schema %}
  {
    "name": "Collection Template",
    "class": "c-section c-section__collection-template"
  }
{% endschema %}
