{% comment %}
  Top Bar
    Simple, Linkable Topbar

  Dependencies:
    styles/objects/_topbar.scss
    scripts/objects/_topbar.js

  Version:
    2.0.0 - 2018/10/31
{% endcomment %}
<section class="o-topbar {% if section.settings.fixed %}is-fixed{% endif %}" data-topbar>
  <div class="o-topbar__wrapper">
    {%- if section.settings.enable-dismiss -%}
      <span class="o-topbar__dismiss has-js" data-topbar-dismiss title="{{ 'general.close' | t }}">
        {%- include 'object.icon' with { icon: 'close', class: 'o-topbar__dismiss-icon'  } -%}
      </span>
    {%- endif -%}

    {%-if section.settings.url != blank -%}
      <a href="{{ section.settings.url }}" class="o-topbar__promotion">
        {{ section.settings.text | escape }}
      </a>
    {%- else-%}
      <span class="o-topbar__promotion">
        {{ section.settings.text | escape }}
      </span>
    {%- endif -%}
  </div>
</section>

{% schema %}
  {
    "name": "Topbar",
    "class": "c-section c-section__topbar",
    "settings": [
      {
        "type": "header",
        "content": "Promo Bar Settings"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Promo Bar Text",
        "default": "Lorem ipsum"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Promo Bar Link",
        "info": "Leave blank for no link."
      },

      {
        "type":"checkbox",
        "id": "fixed",
        "label": "Fixed",
        "info": "If checked the promobar will remain fixed at the top of the page at all times.",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable-dismiss",
        "label": "Enable Close Button",
        "default": false
      }
    ]
  }
{% endschema %}
