{% comment %}
  USP Icon Grid
    USP Icon Grid Section, with some text.

  Version:
    1.0.0 - 2018/11/09
{% endcomment %}
<section class="c-usp-icon-grid">
  {%- for block in section.blocks -%}
    <div class="c-usp-icon-grid__icon">
      <div class="c-usp-icon-grid__icon-picture">
        {%- if block.settings.image != blank -%}
          {%- include 'tool.picture' with {
            image: block.settings.image,
            class: 'c-usp-icon-grid__icon-picture-image'
          } -%}
        {%- endif -%}
      </div>

      <span class="c-usp-icon-grid__icon-title">
        {{- block.settings.title | escape | newline_to_br -}}
      </span>
    </div>
  {%- endfor -%}
</section>

{% schema %}
  {
    "name": "USP Icons",
    "class": "c-section c-section__featured-video",
    "settings": [
    ],
    "blocks": [
      {
        "name": "Icon",
        "type": "icon",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "image"
          },
          {
            "id": "title",
            "label": "Title",
            "type": "textarea"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "USP Icon Grid",
        "category": "Content"
      }
    ]
  }
{% endschema %}
