/*
 *  Account Reset Password page
 *
 *  Dependencies:
 *    - /templates/customers/reset_password.liquid
 *
 *  Version:
 *    1.0.0 - 2018/02/21
 */

.c-form-reset-password{
  position: relative;
  background-color: $s-color--background;
  padding: 0 0.71em 0.71em;
  .o-input{
    width: 100%;
    max-width: 320px;
    margin: $s-gutter--xsmall*2 0;
  }
  &--button{
    &.o-btn-solid{
      color: white;
      background: $s-color--primary;
      padding: ($s-gutter--xsmall*2) ($s-gutter--xsmall*8);
      &--secondary{
        background: $s-color--secondary;
      }
    }
  }
}

.c-reset-password__wrapper {
  position: relative;
  padding-top: 0.71em;
}

.c-reset-password__container{
  padding: 1em 1em 2em;
  text-align: center;
  .errors {
    font-style: italic;
    color: $s-color--primary;
  }
}

/* 
 * Media Query
 */

@include t-media-query($s-small-up) {
  .c-form-reset-password {
    padding: 0 1em 1em;
  }
  .c-reset-password__container {
    padding: 2em;
  }
}

@include t-media-query($s-medium-up) {

  .c-reset-password__container {
    padding: 3em;
    .o-btn--primary{
      margin-top: 3em;
    }

  }
}