/*
 *  Headings and Titles
 *    Provides various titles and title sizes
 *
 *  Version:
 *    2.0.0 - 2018/11/05
 */

//Set initial styles for all of the headings
h1,h2,h3,h4,h5,h6,.o-heading,.o-heading.is-size-1 {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.4em;

  a:hover { text-decoration: inherit; }
}

//Size Specific classes
h1,.o-heading.is-size-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
}

h2,.o-heading.is-size-2 {
  font-size: 1.2em;
  text-transform: initial;
}

h3,.o-heading.is-size-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
}

h4,.o-heading.is-size-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
}

h5,.o-heading.is-size-5 {
  font-weight: 600;
  text-transform: initial;
  font-size: 1.2em;
}

/*** End main headings ***/

// Custom Headings //
.o-title {
  //Basic title settings, applies to all title size
  font-size: 1.6em;
  font-weight: initial;
  text-transform: initial;
  font-weight: 500;

  .is-large {
    text-transform: uppercase;
    font-size: 3em;
  }
}

.o-pretitle {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: initial;
  font-style: italic;
  margin-bottom: 0.5em;
  + .o-title { margin-top: 0; }
}

/*** End custom headings ***/

// Custom Nests //
.c-section__heading > .o-heading {
  color: $s-color--primary;
  margin: 0;
}

@include t-media-query($s-medium-up) {
  h1,.o-heading.is-size-1 {
    font-size: 2em;
  }

  h2,.o-heading.is-size-2 {
    font-size: 1.5em;
  }

  h3,.o-heading.is-size-3 {
    font-size: 1.25em;
  }

  h4,.o-heading.is-size-4 {
    font-size: 1.5em;
  }

  .o-title {
    font-size: 2.5em;
  }

  .o-pretitle {
    font-size: 1.6em;
  }
}
