@import './../../../styles/global.scss';

.o-btn {
  display: inline-block;
  cursor: pointer;
  background: $s-color--primary;
  color: $s-color--primary-compliment;
  padding: 0.5em 2em;
  font-size: 1em;

  @extend %s-font--button;

  &:hover {
    background: $s-color--primary-hover;
  }

  &.is-block {
    display: block;
  }

  @include t-media-query($s-small-up) {
    font-size: 1.4em;
  }
}
