@import './../../../../styles/global';

$c-dropdown-menu--background: white;

.c-dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;

  //Levels
  &--level-1,
  &--level-2,
  &--level-3,
  &--level-4 {
    position: absolute;
    display: none;
    background: $c-dropdown-menu--background;
  }

  @for $i from 1 through 4 {
    &__item--level-#{$i - 1}:hover &--level-#{$i} {
      display: block;
    }
  }

  &--level-2,
  &--level-3,
  &--level-4 {
    transform: translateX(100%);
    top: 0;
  }

  //Items
  &__item {
    &--level-0 {
      display: inline-block;
    }

    &--level-1,
    &--level-2,
    &--level-3,
    &--level-4 {
      position: relative;
    }

    //Links
    &-link {
      display: block;
      padding: 0.5em 1em;
    }
  }
}
