/*
 *  Password Page
 *    Styles for the password template.
 *
 *  Dependencies:
 *    styles/tools/flex.scss
 *
 *  Version:
 *    1.0.0 - 2018/07/15
 */
.c-template-password {
  
  &__logo {
    max-width: 400px;
    padding: 5em 0 7em;
    margin: 0 auto;
  }

  &__titles {
    text-align: center;
  }

  //Login form
  &__login,
  &__register {
    text-align: center;
    padding-bottom: 5em;
    max-width: 500px;
    margin: 0 auto;
  }

  &__label {
    display: none;
  }


  //Footer
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 5em 0 7em;
  }
}
