/*
 *  Accordion
 *    Styles for accordion widgets.
 *
 *  Version:
 *    1.0.0 - 2018/12/03
 */
.o-accordion {
  &__slide {
    padding: 0 $s-gutter--xsmall;
    border-top: 2px solid $s-color--border-default;

    &-title {
      position: relative;
      cursor: pointer;
      margin: 0;
      padding: 0.25em 0;

      p { max-width: 85%; }
    }

    &-icon {
      width: 1em;
      height: 1em;
      position: absolute;
      right: 0.25em;
      top: 50%;
      transform: translateY(-50%);

      //Fill the +
      *,& { fill: $s-color--secondary; }

      //Close state, hide by default
      &.is-close {display:none;}

      //Styles for open state
      .o-accordion__slide.is-expanded & {
        //Shows .is-close, hides .is-open
        display: block;
        &.is-open {display: none;}
      }
    }

    &-body {
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s $s-animation--ease-out;

      //Open state, show body
      .o-accordion__slide.is-expanded > & {
        max-height: 50em;
      }
    }
  }

  &__title {
    cursor: pointer;
  }

  &__body {
    display: none;
    overflow: hidden;
  }


  @include t-media-query($s-small-up) {
    &__slide {
      padding: 0 $s-gutter--small;

      &-title {
        padding: 0.5em 0;
      }
    }
  }

  @include t-media-query($s-medium-up) {
    &__slide {
      padding: 0 $s-gutter--medium;

      &-title {
        padding: 0.75em 0;
      }
    }
  }
}
