/*
 *  Dropdown
 *    Styles for dropdown widget, can also be adjusted to dropup
 *
 *  Version:
 *    1.0.0 - 2019/01/19
 */
$o-dropdown--radius: 0.5em;

.o-dropdown {
  border: 1px solid red;
  border: 1px solid $s-color--border-default;
  box-shadow: 0px 0px 0.25em 0px rgba(0,0,0,0.1);
  border-radius: $o-dropdown--radius;
  color: $s-color--primary;
  position: relative;
  display: flex;
  align-items: center;

  select { display: none; }

  &__current,&__menu-item {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
    position: relative;
    cursor: pointer;
    color: $s-color--primary;
  }

  &__current {
    &::after {
      position: absolute;
      top: 0;
      height: 100%;
      object-fit: cover;
      background-image: url('./../assets/svgs/icon-chevron-down.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 1em;
      right: 1em;
      content: "";
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: none;

    transform: translateY(100%);
    padding-top: 0.5em;

    &-item {
      border: 1px solid $s-color--border-default;
      border-top: none;
      overflow: hidden;
      background: $s-color--background;

      &:hover {
        text-decoration: underline;
      }

      &:first-child {
        border-top: 1px solid $s-color--border-default;
        border-top-right-radius: $o-dropdown--radius;
        border-top-left-radius: $o-dropdown--radius;
      }

      &:last-child {
        border-bottom-right-radius: $o-dropdown--radius;
        border-bottom-left-radius: $o-dropdown--radius;
      }
    }
  }

  &.is-active &__menu { display: block; }
  &.is-active &__current::after { transform: rotate(180deg); }

  &.is-upward &__menu {
    top: 0;
    bottom: auto;
    padding-top: 0;
    padding-bottom: 0.5em;
    transform: translateY(-100%);
  }
}
