/*
 *  Location Object
 *    Simple location object widget for an icon and some text
 *
 *  Version:
 *    1.0.0 - 2018/11/26
 */

.o-location {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  &__icon {
    width: 1.5em;

    &,* {
      fill: $s-color--secondary;
    }
  }

  &__title {
    padding-left: $s-gutter--xsmall;
  }

  &.is-block {display: flex;}
}
