/*
 *  Quantity Selector
 *    Styles for the quantity selector widget.
 *
 *  Version:
 *    1.0.0 - 2019/01/22
 */
$o-quantity-selector--border-color: $s-color--secondary;
$o-quantity-selector--color: $s-color--secondary;

$o-quantity-selector--border: 2px solid $o-quantity-selector--border-color;
$o-quantity-selector--radius: $s-input--radius;

.o-quantity-selector {
  display: inline-flex;
  align-items: stretch;
  overflow: hidden;


  &__input {
    text-align: center;

    &-field {
      font-size: 1.4em;
      text-align: center;
      height: 100%;
      width: 2.75em;
      color: $o-quantity-selector--color;

      border: $o-quantity-selector--border;

      &.is-disabled {
        background: $s-color--disabled;
        color: $s-color--disabled-compliment;
        border-color: $s-color--disabled-border;
        cursor: not-allowed;
      }
    }
  }

  &__button {
    //font-size: 1.75em;
    //padding: 0.2em 0.8em;
    cursor: pointer;
    color: $o-quantity-selector--color;
    flex: 0;


    &.is-minus {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }

    &.is-plus {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }
  }

  &.is-small {
  }
}
